.icon-row {
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  height: 85px;
  width: 85px;
}

.icon-row__icon span {
  margin-top: 18px;
}

.icon-row--more {
  flex-direction: column;
}

.icon-row--1,
.icon-row--2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
